/* MOBILE */

@media (max-width: 740px) {
    /* HAMBURGER */

    .main-header {
        position: relative;
        z-index: 20;
    }

    .main-nav {
        flex-direction: column;
        position: fixed;
        color: #fff;
        right: 0;
        top: 50px;
        height: 100vh;
        width: 100vw;
        background-color: var(--clr2);
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
        justify-content: center;
        font-size: 24px;
    }

    .main-nav li {
        flex-basis: 20%;
    }

    .nav-li a.active {
        color: #fff;
        font-weight: 800;
        cursor: default;
    }

    hr {
        width: 7%;
        border-top: 1px solid rgb(255, 255, 255);
    }

    .main-nav li>a {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        transform: translateX(0);
    }

    .main-header .hamburger-btn {
        display: inline;
        height: 50px;
        width: 50px;
        border: none;
        background-color: var(--clr2);
        color: white;
        font-size: 1.6em;
        transition: color 0.3s;
    }

    .main-header .hamburger-btn:hover {
        color: var(--clr5);
        cursor: pointer;
    }

}

@media (min-width:740px) {
    .main-header .hamburger-btn {
        display: none;
    }

    .main-header {
        margin: 5px, 10px;
        border-radius: 20px;
    }

    .nav-li a.active {
        background-color: #fff;
        border-radius: 30px;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 20px;
        margin-right: 20px;
        gap: 10px;
    }

    .editing-area {
        height: 800px;
        flex-wrap: wrap;
        width: 80vw;
    }

    canvas {
        width: 400px;
        height: 400px;
    }

    hr {
        display: none;
    }


}

@media (min-width:1020px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    .editing-area {
        height: 600px;
        flex-direction: row;
        width: 90vw;
    }

    .canvas {
        height: 100%;
        width: 50%;
        align-items: center;
    }

    canvas {
        height: 500px;
        width: 500px;
    }

    .editing-area-tools {
        width: auto;
        width: 50%;
    }

}