.card {
    /* height: 150px; */
    padding: 10px;
}

.card img {
    border-radius: 10px;
    width: 100%;
}

.card img:hover {
    cursor: pointer;
    outline: 5px solid var(--clr4);
    transition: 0.2s;
}