.editing-area {
    background-color: pink;
    display: none;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 80vw; */
    margin: 0 auto;
    height: 90vh;
}

.canvas {
    display: flex;
    /* height: 100%; */
    /* width: 50%; */
    text-align: center;
    align-items: center;
    flex-grow: 1;
}

canvas {
    display: block;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.editing-area-tools {
    display: flex;
    background-color: blue;
    text-align: center;
    /* align-items: center; */
    width: 90%;
    flex-grow: 1;
}

.editing-tools {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    /* height: 100%; */
    width: 100%;
    background-color: brown;
    justify-content: center;
    /* align-content: center; */

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    grid-column: 1/span 5;
}

.font-family-picker {
    grid-column: 1 / span 3;
}

.download {
    grid-column: 1 / span 5;
}