.editing-area {
    background-color: pink;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}

.canvas {
    display: flex;
    background-color: chocolate;
}

canvas {
    display: block;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 300px;
    width: 300px; */
}

.editing-area-tools {
    display: flex;
    background-color: blue;
    text-align: center;
    align-items: center;
    width: 90%;
}

.editing-tools {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    /* height: 100%; */
    width: 100%;
    background-color: brown;
    justify-content: center;
    align-content: center;

}

label button {
    height: 100%;
    width: 100%;
}

.color-input {
    z-index: 1;
    opacity: 0;
    transform: translateY(-100%);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    grid-column: 1/span 5;
}

.font-family-picker {
    grid-column: 1 / span 3;
}

.download {
    grid-column: 1 / span 5;
}