* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #22252c;
}